<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Описание ранних лет жизни и творчества С.Дали">
    <meta name="keywords" content="Salvador Dali, Dali, Сальвадор Дали, Дали, сюрреализм, Каталония, Жирона">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>Сальвадор Дали</title>
</head>
<body>

{% include "menu.html" %}

{% block container %}

{% endblock container %}

</body>
<footer>
    <div class="text-center">
        <p>Сальвадор Дали, 1904-1989 &copy;</p>
    </div>
</footer>
</html>